@using Microsoft.AspNet.Identity
@using Find2Me.Infrastructure;

@{
    ViewBag.Title = "Step3";
}

<section class="adwizard-section">
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 d-flex justify-content-md-between align-items-center">
                <div>
                    <!-- Headline of the page -->
                    <h1 class="d-inline-flex pr-3">@Strings.Wizard_PageHeading</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="pt-0 mt-0 mb-0" />
            </div>
        </div>

        <!-- TABS FOR WIZARD -->
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col-11 mr-0 col-xl-6 offset-xl-3">
                        <div class="stepwizard-row"> </div>
                    </div>
                </div>
                <div class="row pl-xl-3 pr-xl-3 offset-xl-4">

                    <div class="col-4 col-xl-2 stepwizard-step">
                        <a href="#step-1" class="btn btn-default btn-circle" disabled="disabled">1</a>
                        <p>@Strings.ProfileWizard_ProfileStep1</p>
                    </div>
                    <div class="col-4 col-xl-2 stepwizard-step">
                        <a href="#step-2" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>@Strings.ProfileWizard_ProfileStep2</p>
                    </div>
                    <div class="col-4 col-xl-2 stepwizard-step ">
                        <a href="#step-3" class="btn btn-dark btn-circle">3</a>
                        <p>@Strings.ProfileWizard_ProfileStep3</p>
                    </div>
                </div>


                <!-- text section -->
                <div class="row mt-1">

                    @*Page Alerts Partial*@
                    @Html.Partial("_PageAlertsPartial")

                    <div class="col text-center">
                        <p>
                            <h3><strong>@Strings.Step3_ProfileDescriptionText1</strong></h3><br />@Strings.Step3_ProfileDescriptionText2<br /><br />
                        </p>

                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col text-center">
                        <p>

                            <strong><h3>@Strings.Step3_ProfileDescriptionText3</h3></strong>

                        </p>

                    </div>
                </div>

                <!-- 4 Navigation titles -->
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 offset-md-2 col-xs-4 col-xl-4 offset-xl-2 p-0 mb-3">
                            <div class="card">
                                <div class="card-body pt-3 pb-3">
                                    <div class="contaimer">

                                        <div class="row">
                                            <div class="col-2 no-gutters text-center">
                                                <img src="img/icon-ad.png" class="responsive img-fluid" alt="">
                                            </div>
                                            <div class="col-10 pl-0 no-gutters">
                                                <h6 class="mb-0">CREATE AD</h6>
                                                <p class="mb-1" style="line-height:1.1">
                                                    <small class="text-muted">Looking for something that you can't find - let other people help you.</small>
                                                </p>
                                                <a href="#">Create your ad here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 offset-md-1 col-xs-4 col-xl-4 p-0 mb-3">
                            <div class="card">
                                <div class="card-body pt-3 pb-3">
                                    <div class="contaimer">

                                        <div class="row">
                                            <div class="col-2 no-gutters text-center">
                                                <img src="img/icon-spy.png" class="responsive img-fluid" alt="">
                                            </div>
                                            <div class="col-10 pl-0 no-gutters">
                                                <h6 class="mb-0">CREATE YOUR OWN AGENT</h6>
                                                <p class="mb-1" style="line-height:1.1">
                                                    <small class="text-muted">Let your agent notify you, when someone are looking for what you have </small>
                                                </p>
                                                <a href="#">Create your agent here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 offset-md-2 col-xs-4 col-xl-4 offset-xl-2 p-0 mb-3">
                            <div class="card">
                                <div class="card-body pt-3 pb-3">
                                    <div class="contaimer">

                                        <div class="row">
                                            <div class="col-2 no-gutters text-center">
                                                <img src="img/icon-money.png" class="responsive img-fluid" alt="">

                                            </div>
                                            <div class="col-10 pl-0 no-gutters">
                                                <h6 class="mb-0">EXPLORER ITEM TO FIND</h6>
                                                <p class="mb-1" style="line-height:1.1">
                                                    <small class="text-muted">Help your fellows and find what they are looing for and earn money</small>
                                                </p>
                                                <a href="#">Go to reward given ads</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 offset-md-1 col-xs-4 col-xl-4 p-0 mb-3">
                            <div class="card">
                                <div class="card-body pt-3 pb-3">
                                    <div class="contaimer">

                                        <div class="row">
                                            <div class="col-2 no-gutters text-center">
                                                <img src="img/icon-shape.png" class="responsive img-fluid" alt="">
                                            </div>
                                            <div class="col-10 pl-0 no-gutters">
                                                <h6 class="mb-0">FIND A RELATION</h6>
                                                <p class="mb-1" style="line-height:1.1">
                                                    <small class="text-muted">Looking for a shopping friend, a nanny, a study body or another kind of relation</small>
                                                </p>
                                                <a href="#">Find one here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Other links front og profile page -->
                    <div class="row mt-1">
                        <div class="col text-center">
                            <p>
                                <br /><br />
                                <a href="" class="mr-5">@Strings.Step3_GoToFrontPageLinkTxt</a>
                                <a href="@Url.Action("Index", "Profile", new { id= User.Identity.GetUrlUserName() })">@Strings.Step3_GoToProfilePageLinkTxt</a>
                            </p>
                        </div>
                    </div>

                </div>


                <hr class="mt-5" />


            </div>

        </div>

    </div> <!-- container -->
</section><!-- adwizard-section -->
